<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890664830560-iiabdfl6a3hkvts8ap6ntm4jgcnsbf4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890664830560-iiabdfl6a3hkvts8ap6ntm4jgcnsbf4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBzNKrYtSkyrdgwM49Phwrzo0aVR3hTfNE</string>
	<key>GCM_SENDER_ID</key>
	<string>890664830560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burakkoc.VaultApp</string>
	<key>PROJECT_ID</key>
	<string>koc-chords</string>
	<key>STORAGE_BUCKET</key>
	<string>koc-chords.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890664830560:ios:a3af618c8f438bfb96e505</string>
</dict>
</plist>