<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.890664830560-iiabdfl6a3hkvts8ap6ntm4jgcnsbf4t</string>
			</array>
			<key>CFBundleURLTypes</key>
			<array>
				<dict>
					<key>CFBundleURLName</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9748717269838207~8786045485</string>

	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>Size daha iyi ve ilgi alanlarınıza uygun reklamlar gösterebilmemiz için verilerinizi kullanmamıza izin verin.</string>
</dict>
</plist>

